In [2]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import warnings     
warnings.filterwarnings(action='ignore')

In [3]:
#1. mysqldb 접속객체 세팅(연결하기)

connect_datas = {
    'host': '3.35.66.120',
    'user': 'root',
    'passwd': 'dss',
    'db': 'Kor_Stock',
    'charset': 'utf8'
}
db = MySQLdb.connect(**connect_datas)
db

In [1]:
#2. 주식뉴스데이터 csv파일 불러오기
stock = pd.read_csv('/home/ubuntu/stock/stock.csv')
stock

,date,news_link,stock,stock_code,title
0,2021.06.30 17:40,https://finance.naver.com//item/news_read.nhn?...,COWON,056000,"거래소, COWON 제재금 미납 따른 가중벌점 부과"
1,2021.06.30 10:15,https://finance.naver.com//item/news_read.nhn?...,CJ ENM,035760,"CJ ENM ""티빙, NAVER 대상 400억원 규모 3자배정 유상증자"" [주목 e공시]"
2,2021.06.30 17:24,https://finance.naver.com//item/news_read.nhn?...,CJ ENM,035760,[코스닥 공시] CJ ENM
3,2021.06.30 10:49,https://finance.naver.com//item/news_read.nhn?...,CJ ENM,035760,CJ ENM-네이버 결속 강화…티빙 4백억 투자·해외진출도 돕는다
4,2021.06.30 19:01,https://finance.naver.com//item/news_read.nhn?...,BYC,001460,"BYC, 고윤성→김대환 대표이사로 변경"
...,...,...,...,...,...
15089,2021.08.15 17:18,https://finance.naver.com//item/news_read.nhn?...,한국기업평가,034950,버스 인프라 투자 '차파트너스'…한기평 ESG 최고 등급 획득
15090,2021.08.15 10:13,https://finance.naver.com//item/news_read.nhn?...,한국조선해양,009540,가을에도 IPO '풍년'···카카오페이·현대重·LG엔솔 출격 대기
15091,2021.08.15 10:47,https://finance.naver.com//item/news_read.nhn?...,한화시스템,272210,한화시스템이 3억달러 들여 英 우주기업에 투자한 세가지 이유
15092,2021.08.15 10:43,https://finance.naver.com//item/news_read.nhn?...,현대차,005380,독일 전문지가 꼽은 1등 PHEV SUV에 현대차 '투싼 PHEV'
15093,2021.08.15 13:18,https://finance.naver.com//item/news_read.nhn?...,현대차,005380,"현대차 사무직 노조, 출범 넉 달 됐는데…""흐지부지 될 판""[도병욱의 지금 기업에선]"

In [ ]:
# ## 데이터 전처리
# stock = stock.drop_duplicates(subset=['stock','title']) # 중복밸류 제거
# stock = stock.dropna()

In [ ]:
# # MYsqldb로 테이블 생성하기
# QUERY = """
#     CREATE TABLE stock_news (
#     date Varchar(30) NOT NULL,
#     news_link TEXT NOT NULL,
#     stock Varchar(30) NOT NULL,
#     stock_code Varchar(30) NOT NULL,
#     title TEXT NOT NULL
#     )
# """
# # cursor객체 생성후 쿼리 실행
# curs = db.cursor()
# curs.execute(QUERY)

In [ ]:
# # MYsqldb로 테이블 캐릭터셋 바꾸기
# QUERY = """
#     ALTER table stock_news convert to character set utf8;
# """
# # 쿼리 실행
# curs.execute(QUERY)

In [9]:
# # 데이터 전처리

# # 컬럼명 db에 맞게 변경하기
# stock.rename(columns={'ISU_SRT_CD':'Code','ISU_ABBRV':'Name','MKT_NM':'Market','SECT_TP_NM':'Depart',
#                       'TDD_CLSPRC':'Close','FLUC_TP_CD':'Changecode','CMPPREVDD_PRC':'Changes','FLUC_RT':'ChangesRatio',
#                      'TDD_OPNPRC':'Open','TDD_HGPRC':'High','TDD_LWPRC':'Low','ACC_TRDVOL':'Volume','ACC_TRDVAL':'Amount',
#                       'MKTCAP':'Total','LIST_SHRS':'Stocks','MKT_ID':'MK_code','DATE':'Date'
#                      }, inplace=True)

# # 수치형데이터로 변환할 컬럼 , 제거
# stock['Close'] = stock['Close'].str.replace(',','')
# stock['Open'] = stock['Open'].str.replace(',','')
# stock['High'] = stock['High'].str.replace(',','')
# stock['Low'] = stock['Low'].str.replace(',','')
# stock['Volume'] = stock['Volume'].str.replace(',','')
# stock['Amount'] = stock['Amount'].str.replace(',','')
# stock['Changes'] = stock['Changes'].str.replace(',','')
# stock['Total'] = stock['Total'].str.replace(',','')
# stock['Stocks'] = stock['Stocks'].str.replace(',','')
# # NAN값 변경
# stock = stock.fillna("nodata")

In [10]:
#3. sqlalchemy 클라이언트 설정
client = create_engine('mysql://root:dss@3.35.66.120/Kor_Stock?charset=utf8',encoding="utf-8")
conn = client.connect()

In [11]:
#4. csv파일 db에 담기

stock.to_sql(name='stock_price',con=client,if_exists='append',index=False)
conn.close()

DataError: (pymysql.err.DataError) (1366, "Incorrect string value: '\\xEC\\xA4\\x91\\xEA\\xB2\\xAC...' for column 'Depart' at row 1")
[SQL: INSERT INTO stock_price (`index`, `Code`, `Name`, `Market`, `Depart`, `Close`, `Changecode`, `Changes`, `ChangesRatio`, `Open`, `High`, `Low`, `Volume`, `Amount`, `Total`, `Stocks`, `MK_code`, `Date`) VALUES (%(index)s, %(Code)s, %(Name)s, %(Market)s, %(Depart)s, %(Close)s, %(Changecode)s, %(Changes)s, %(ChangesRatio)s, %(Open)s, %(High)s, %(Low)s, %(Volume)s, %(Amount)s, %(Total)s, %(Stocks)s, %(MK_code)s, %(Date)s)]
[parameters: ({'index': 0, 'Code': '060310', 'Name': '3S', 'Market': 'KOSDAQ', 'Depart': '중견기업부', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '46271513', 'MK_code': 'KSQ', 'Date': 20210815}, {'index': 1, 'Code': '095570', 'Name': 'AJ네트웍스', 'Market': 'KOSPI', 'Depart': 'nodata', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '46822295', 'MK_code': 'STK', 'Date': 20210815}, {'index': 2, 'Code': '006840', 'Name': 'AK홀딩스', 'Market': 'KOSPI', 'Depart': 'nodata', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '13247561', 'MK_code': 'STK', 'Date': 20210815}, {'index': 3, 'Code': '054620', 'Name': 'APS홀딩스', 'Market': 'KOSDAQ', 'Depart': '중견기업부', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '20394221', 'MK_code': 'KSQ', 'Date': 20210815}, {'index': 4, 'Code': '265520', 'Name': 'AP시스템', 'Market': 'KOSDAQ', 'Depart': '우량기업부', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '14480227', 'MK_code': 'KSQ', 'Date': 20210815}, {'index': 5, 'Code': '211270', 'Name': 'AP위성', 'Market': 'KOSDAQ', 'Depart': '벤처기업부', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '15082304', 'MK_code': 'KSQ', 'Date': 20210815}, {'index': 6, 'Code': '027410', 'Name': 'BGF', 'Market': 'KOSPI', 'Depart': 'nodata', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '95716791', 'MK_code': 'STK', 'Date': 20210815}, {'index': 7, 'Code': '282330', 'Name': 'BGF리테일', 'Market': 'KOSPI', 'Depart': 'nodata', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '17283906', 'MK_code': 'STK', 'Date': 20210815}  ... displaying 10 of 2575 total bound parameter sets ...  {'index': 2573, 'Code': '037440', 'Name': '희림', 'Market': 'KOSDAQ', 'Depart': '중견기업부', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '13922475', 'MK_code': 'KSQ', 'Date': 20210815}, {'index': 2574, 'Code': '238490', 'Name': '힘스', 'Market': 'KOSDAQ', 'Depart': '우량기업부', 'Close': '-', 'Changecode': 3, 'Changes': '-', 'ChangesRatio': '-', 'Open': '-', 'High': '-', 'Low': '-', 'Volume': '-', 'Amount': '-', 'Total': '-', 'Stocks': '11312236', 'MK_code': 'KSQ', 'Date': 20210815})]
(Background on this error at: http://sqlalche.me/e/14/9h9h)