In [2]:
import pandas as pd
import requests

dates = pd.date_range("20200520", "20210520")

dfs = []

for date in dates:
    print(date, end=" ")
    date = str(date).split(" ")[0].replace("-", "")
    url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"
    params = {
        "bld": "dbms/MDC/STAT/standard/MDCSTAT01501",
        "mktId": "ALL",
        "trdDd": date,
        "share": "1",
        "money": "1",
        "csvxls_isNo": "false",
    }
    response = requests.post(url, params)
    datas = response.json()["OutBlock_1"]
    df = pd.DataFrame(datas)
    df["DATE"] = date
    dfs.append(df)
    time.sleep(1)

result_df = pd.concat(dfs)
result_df.reset_index(inplace=True)
result_df.tail()

2021-05-20 00:00:00

,index,ISU_SRT_CD,ISU_ABBRV,MKT_NM,SECT_TP_NM,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,MKT_ID,DATE
2557,2557,000547,흥국화재2우B,KOSPI,,"36,900",2,"-2,100",-5.38,"37,750","37,750","33,800","19,387","706,174,800","5,667,840,000","153,600",STK,20210520
2558,2558,000545,흥국화재우,KOSPI,,"12,500",2,-200,-1.57,"12,350","12,550","12,350","25,713","319,516,600","9,600,000,000","768,000",STK,20210520
2559,2559,003280,흥아해운,KOSPI,,258,0,0,0.00,0,0,0,0,0,"30,117,000,222","116,732,559",STK,20210520
2560,2560,037440,희림,KOSDAQ,중견기업부,"8,660",2,-20,-0.23,"8,530","8,850","8,530","661,962","5,756,874,230","120,568,633,500","13,922,475",KSQ,20210520
2561,2561,238490,힘스,KOSDAQ,우량기업부,"10,750",2,-50,-0.46,"10,700","10,850","10,600","82,058","881,284,500","121,606,537,000","11,312,236",KSQ,20210520