In [3]:
from datetime import *
import pandas as pd
import requests
import time


today = datetime.now()
day = timedelta(61)

day_before = today - day
print(day_before.strftime('%Y-%m-%d'))

2021-06-30

In [4]:
# 날짜 리스트 만들기

day_list = []
for a in range(62):
    day = datetime.now() - timedelta(a)
    day_list.append(day.strftime('%Y-%m-%d'))

day_list

['2021-08-30',
 '2021-08-29',
 '2021-08-28',
 '2021-08-27',
 '2021-08-26',
 '2021-08-25',
 '2021-08-24',
 '2021-08-23',
 '2021-08-22',
 '2021-08-21',
 '2021-08-20',
 '2021-08-19',
 '2021-08-18',
 '2021-08-17',
 '2021-08-16',
 '2021-08-15',
 '2021-08-14',
 '2021-08-13',
 '2021-08-12',
 '2021-08-11',
 '2021-08-10',
 '2021-08-09',
 '2021-08-08',
 '2021-08-07',
 '2021-08-06',
 '2021-08-05',
 '2021-08-04',
 '2021-08-03',
 '2021-08-02',
 '2021-08-01',
 '2021-07-31',
 '2021-07-30',
 '2021-07-29',
 '2021-07-28',
 '2021-07-27',
 '2021-07-26',
 '2021-07-25',
 '2021-07-24',
 '2021-07-23',
 '2021-07-22',
 '2021-07-21',
 '2021-07-20',
 '2021-07-19',
 '2021-07-18',
 '2021-07-17',
 '2021-07-16',
 '2021-07-15',
 '2021-07-14',
 '2021-07-13',
 '2021-07-12',
 '2021-07-11',
 '2021-07-10',
 '2021-07-09',
 '2021-07-08',
 '2021-07-07',
 '2021-07-06',
 '2021-07-05',
 '2021-07-04',
 '2021-07-03',
 '2021-07-02',
 '2021-07-01',
 '2021-06-30']

In [5]:
from datetime import datetime
import pandas as pd
import requests
import time

df_list = []

for oneday in day_list:
    print(oneday, end=" ")
    date = str(oneday).split(" ")[0].replace("-", "")
    url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"
    params = {
        "bld": "dbms/MDC/STAT/standard/MDCSTAT01501",
        "mktId": "ALL",
        "trdDd": date,
        "share": "1",
        "money": "1",
        "csvxls_isNo": "false",
    }
    response = requests.post(url, params)
    datas = response.json()["OutBlock_1"]
    df = pd.DataFrame(datas)
    df["DATE"] = date
    df_list.append(df)

df_total = pd.concat(df_list)
df_total.reset_index(inplace=True)
df_total.to_csv("데이터.csv")

2021-08-30 2021-08-29 2021-08-28 2021-08-27 2021-08-26 2021-08-25 2021-08-24 2021-08-23 2021-08-22 2021-08-21 2021-08-20 2021-08-19 2021-08-18 2021-08-17 2021-08-16 2021-08-15 2021-08-14 2021-08-13 2021-08-12 2021-08-11 2021-08-10 2021-08-09 2021-08-08 2021-08-07 2021-08-06 2021-08-05 2021-08-04 2021-08-03 2021-08-02 2021-08-01 2021-07-31 2021-07-30 2021-07-29 2021-07-28 2021-07-27 2021-07-26 2021-07-25 2021-07-24 2021-07-23 2021-07-22 2021-07-21 2021-07-20 2021-07-19 2021-07-18 2021-07-17 2021-07-16 2021-07-15 2021-07-14 2021-07-13 2021-07-12 2021-07-11 2021-07-10 2021-07-09 2021-07-08 2021-07-07 2021-07-06 2021-07-05 2021-07-04 2021-07-03 2021-07-02 2021-07-01 2021-06-30

In [46]:
stock_price = pd.read_csv('/home/ubuntu/데이터.csv',index_col=0)
stock_price

,index,ISU_SRT_CD,ISU_ABBRV,MKT_NM,SECT_TP_NM,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,MKT_ID,DATE
0,0,060310,3S,KOSDAQ,중견기업부,"3,150",2,-115,-3.52,"3,330","3,330","3,075","624,624","1,974,400,780","145,755,265,950","46,271,513",KSQ,20210820
1,1,095570,AJ네트웍스,KOSPI,NaN,"5,690",2,-200,-3.40,"5,830","5,980","5,490","194,895","1,105,574,780","266,418,858,550","46,822,295",STK,20210820
2,2,006840,AK홀딩스,KOSPI,NaN,"24,300",2,-300,-1.22,"24,750","25,050","23,500","45,807","1,112,357,250","321,915,732,300","13,247,561",STK,20210820
3,3,054620,APS홀딩스,KOSDAQ,중견기업부,"19,350",2,-950,-4.68,"20,650","20,700","18,750","256,005","4,963,511,850","394,628,176,350","20,394,221",KSQ,20210820
4,4,265520,AP시스템,KOSDAQ,우량기업부,"26,200",2,-900,-3.32,"27,200","27,450","26,150","226,388","6,027,941,350","379,381,947,400","14,480,227",KSQ,20210820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159511,2566,000547,흥국화재2우B,KOSPI,NaN,-,3,-,-,-,-,-,-,-,-,"153,600",STK,20210620
159512,2567,000545,흥국화재우,KOSPI,NaN,-,3,-,-,-,-,-,-,-,-,"768,000",STK,20210620
159513,2568,003280,흥아해운,KOSPI,NaN,-,3,-,-,-,-,-,-,-,-,"116,732,559",STK,20210620
159514,2569,037440,희림,KOSDAQ,중견기업부,-,3,-,-,-,-,-,-,-,-,"13,922,475",KSQ,20210620
159515,2570,238490,힘스,KOSDAQ,우량기업부,-,3,-,-,-,-,-,-,-,-,"11,312,236",KSQ,20210620